.App {
    text-align: center;
    display: grid;
    background-color: wheat;
    line-height: 0.5rem;
    background-image: url("./utils/img/tanushree-rao-yj0eN2meINw-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .spacer {
        padding: 0 10vw;
    }
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    display: grid;
    width: 100%;
    height: 10vh;
    background-color: rgb(104, 80, 41);
    .img {
        width: 17vw;
        margin-top: 16vh;
        z-index: 100;
    }
    nav {
        position: fixed;
        z-index: 99;
        display: grid;
        justify-items: left;
        align-items: center;
        height: 84vh;
        margin-top: 12vh;
        margin-left: 10vw;
        border: 1px solid magenta;
        width: 17vw;
        background-color: rgb(224, 192, 140);
        a {
            color: black;
            font-weight: 600;
            font-size: 1rem;
            margin-left: 1rem;
        }
    }
}

section {
    border: 1px solid red;
    h1 {
        margin-left: 16vw;
    }
    .menuItems {
        padding: 2%;
        margin-left: 18vw;
        border-bottom: 1px solid white;
        width: 70%;
        background-color: rgba(219, 196, 196, 0.7);
        .subMenuItems {
            background-color: rgba(219, 196, 196, 0);
            margin: 0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 5vh;
            width: 99%;
            border: 3px solid black;
        }
        .counter {
            display: flex;
            align-items: center;
        }
    }
}
